$color-black: #000;
$color-dark14: rgba(14, 14, 14, 1);
$color-black-helper: rgba(16, 16, 16, 1);
$color-white: #fff;
$color-primary: rgba(216, 125, 74, 1);
$color-primary-help: rgba(251, 175, 133, 1);
$color-white-fa: #FAFAFA;
$color-gray: rgba(241, 241, 241, 1);