.btn--one {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
    padding: 1.5rem 3rem;
    background-color: $color-primary;
    display: inline-block;
    transition: .3s;


    &:hover,
    &:active {
        background-color: $color-primary-help;
    }
}


.btn--two {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-black;
    text-decoration: none;
    border: 1px solid $color-black;
    padding: 1.5rem 3rem;
    background-color: $color-white;
    display: inline-block;
    transition: .3s;


    &:hover,
    &:active {
        background-color: $color-black;
        color: $color-white;
    }
}